{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <h1>{% translate "Statuses" %}</h1>
  <a href="{% url 'status_create' %}" class="btn btn-primary">{% translate "Create New Status" %}</a>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Created At" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for status in statuses %}
        <tr>
          <td>{{ status.id }}</td>
          <td>{{ status.name }}</td>
          <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'status_update' status.id %}" class="text-primary d-block">{% translate "Edit" %}</a>
            <a href="{% url 'status_delete' status.id %}" class="text-danger d-block">{% translate "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
