{% extends 'base.html' %}

{% block content %}
  <h1>Statuses</h1>
  <a href="{% url 'status_create' %}" class="btn btn-primary">Create New Status</a>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created At</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for status in statuses %}
        <tr>
          <td>{{ status.id }}</td>
          <td>{{ status.name }}</td>
          <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'status_update' status.id %}" class="text-primary d-block">Edit</a>
            <a href="{% url 'status_delete' status.id %}" class="text-danger d-block">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
