{% extends 'base.html' %}

{% block content %}
  <h1>Labels</h1>
  
  <a href="{% url 'label_create' %}" class="btn btn-primary mb-3">Create New Label</a>
  
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created At</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for label in labels %}
        <tr>
          <td>{{ label.id }}</td>
          <td>{{ label.name }}</td>
          <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'label_update' label.id %}" class="text-primary d-block">Edit</a>
            <a href="{% url 'label_delete' label.id %}" class="text-danger d-block">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
