{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <h1>{% translate "Labels" %}</h1>
  
  <a href="{% url 'label_create' %}" class="btn btn-primary mb-3">{% translate "Create New Label" %}</a>
  
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Created At" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for label in labels %}
        <tr>
          <td>{{ label.id }}</td>
          <td>{{ label.name }}</td>
          <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'label_update' label.id %}" class="text-primary d-block">{% translate "Edit" %}</a>
            <a href="{% url 'label_delete' label.id %}" class="text-danger d-block">{% translate "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
