{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1>{% translate "Log in" %}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_username" class="form-label">{% translate "Username" %}</label>
      <input type="text" name="username" class="form-control" id="id_username" placeholder="{% translate 'Username' %}">
    </div>
    <div class="mb-3">
      <label for="id_password" class="form-label">{% translate "Password" %}</label>
      <input type="password" name="password" class="form-control" id="id_password" placeholder="{% translate 'Password' %}">
    </div>
    <button type="submit" class="btn btn-primary">{% translate "Log in" %}</button>
  </form>
{% endblock %}