{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1>{% translate "Task View" %}</h1>

<div class="card">
  <div class="card-header bg-secondary text-white">
    <h2>{{ task.name }}</h2>
  </div>

  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>{{ task.description }}</p>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-3">
          <p>{% translate "Author" %}</p>
        </div>
        <div class="col-md-9">
          <p>{{ task.creator }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p>{% translate "Executor" %}</p>
        </div>
        <div class="col-md-9">
          <p>{{ task.executor|default:"None" }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p>{% translate "Status" %}</p>
        </div>
        <div class="col-md-9">
          <p>{{ task.status }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p>{% translate "Created at" %}</p>
        </div>
        <div class="col-md-9">
          <p>{{ task.created_at|date:"d.m.Y H:i" }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p>{{ labels_label }}</p>
        </div>
        <div class="col-md-9">
          {% if task.labels.all %}
            <ul class="mb-0 ps-3">
              {% for label in task.labels.all %}
                <li>{{ label.name }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <div class="d-flex flex-column">
          <a href="{% url 'task_update' task.id %}" class="text-primary me-3">{% translate "Edit" %}</a>
          <a href="{% url 'task_delete' task.id %}" class="text-danger">{% translate "Delete" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
