{% extends 'base.html' %}

{% block content %}
<h1>Task View</h1>

<div class="card">
  <div class="card-header bg-secondary text-white">
    <h2>{{ task.name }}</h2>
  </div>

  <div class="card-body">
    <div class="container">
      <hr>

      <div class="row">
        <div class="col-md-3">
          <p>Author</p>
        </div>
        <div class="col-md-9">
          <p>{{ task.creator }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p>Executor</p>
        </div>
        <div class="col-md-9">
          <p>{{ task.executor|default:"None" }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p>Status</p>
        </div>
        <div class="col-md-9">
          <p>{{ task.status }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p>Created at</p>
        </div>
        <div class="col-md-9">
          <p>{{ task.created_at|date:"d.m.Y H:i" }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p><strong>Labels:</strong></p>
        </div>
        <div class="col-md-9">
          <p>
            {% if task.labels.all %}
              {% for label in task.labels.all %}
                {{ label.name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            {% endif %}
          </p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <div class="d-flex flex-column">
          <a href="{% url 'task_update' task.id %}" class="text-primary me-3">Edit</a>
          <a href="{% url 'task_delete' task.id %}" class="text-danger">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
